# scraping
requests
beautifulsoup4

# environment
python-dotenv

# openai
openai

# langchain
langchain
langchain-openai

# vector store
qdrant-client

# embeddings & reranking
sentence-transformers

#testing
ragas
deepeval
datasets

#frontend
streamlit